/* Navbar */

.wrapper{
    width: 100%;
    position: relative;
}
 a.link{
color: #FFFFFF;
}

.row-choice {
display: flex;
}

.row-title{
position: absolute;
align-content: center;
margin-top : 100px;
margin-left: 550px;
color: #004445; 
}

.kontak{
    font-size: 20px;
}
#kontakppdb {
    width: 5.875em;
}
#kontakppdb {
    display: inline-block;
    font-size: large;
    height: 2.5em;
    overflow: visible;
    vertical-align: -1em;
}
     /* Style inputs, select elements and textareas */
     input[type=text], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }

@media screen and (max-width: 500px) {
    .formulir, input[type=submit] {
        width: 100%;
        margin-top: 0px;
    }
}